*~
/#Makefile#
/#README.md#
/.#COMPILE
/.#Makefile
/.#README.md
/.gitignore~
/any.sh
/archive
/bin
/build
/core
/cscope.files
/cscope.out
/data/*
/data/.gitignore
/events_all
/gp
/lb-sl.h
/noise
/noise.o
/plots
/runcrash
/throughput_ticket
