*~
/#Makefile#
/#README.md#
/.#COMPILE
/.#Makefile
/.#README.md
/.gitignore~
/afile.txt
/any.sh
/archive
/bin
/bst_tk_standalone
/build
/core
/cscope.files
/cscope.out
/data/*
/data/.gitignore
/events_all
/gp
/lb-sl.h
/noise
/noise.o
/plots
/runcrash
/t
/throughput_ticket
