do_compile=1;     # recompile the tests and data structure to run the experiment
set_cpu=0;        # pin threads to cores or not
repetitions=3;
duration=2000;
keep=median;      # value to keep: max min median
cores=ppopp;      # configuration of num. threads to use (check ./scripts/config)

ub="./bin/$(uname -n)"; # location to put binaries for this platform
uo="scripts/ppopp/data"; # location to put data files -- do not change, gnuplot scripts
                         # will break :-(
fixed_file_dat=1;	#so that the gnuplot scripts are not parametrized by
			#the platform name 				

