
# whether run the experiments of ll 
do_ll=1
#the two linked lists to be compared
lb_ll="./bin/lb-ll"
lf_ll="./bin/lf-ll"

# whether run the experiments of ht
do_ht=1	 
#the two hash tables to be compared
lb_ht="./bin/lb-ht_gl"
lf_ht="./bin/lf-ht"

# whether run the experiments of sl
do_sl=1	 
#the two skip-lists to be compared
lb_sl="./bin/lb-sl_herlihy"
lf_sl="./bin/lf-sl"

# whether run the experiments of ll 
do_bst=1
#the two bsts to be compared
lb_bst="./bin/lb-bst2"
lf_bst="./bin/lf-bst-howley"

