
#the two linked lists to be compared
lb_ll="./bin/lb-ll"
lf_ll="./bin/lf-ll"

#the two hash tables to be compared
lb_ht="./bin/lb-ht_gl"
lf_ht="./bin/lf-ht"

#the two skip-lists to be compared
lb_sl="./bin/lb-sl"
lf_sl="./bin/lf-sl"

#the two bsts to be compared
lb_bst="./bin/lb-bst2"
lf_bst="./bin/lf-bst-howley"
