
## compare the different lock-based versions
# ll/ht : herlighy lazy vs. pugh
# sl : herlighy vs. pugh

# whether run the experiments of ll 
do_ll=0
#the two linked lists to be compared
lb_ll="./bin/lb-ll -x2"
lf_ll="./bin/lb-ll -x3"

# whether run the experiments of ht
do_ht=1	 
#the two hash tables to be compared
lb_ht="./bin/lb-ht_gl"
lf_ht="./bin/lb-ht_java -c512"

# whether run the experiments of sl
do_sl=0	 
#the two skip-lists to be compared
lb_sl="./bin/lb-sl"
lf_sl="./bin/lb-sl_pugh"

# whether run the experiments of ll 
do_bst=0
#the two bsts to be compared
lb_bst="./bin/lb-bst2"
lf_bst="./bin/lf-bst-howley"
