declare -A namemap
namemap["./bin/lf-bst"]="bst-ellen"
namemap["./bin/lb-bst-drachsler"]="bst-drachsler"
namemap["./bin/lf-bst-aravind"]="bst-natarajan"
namemap["./bin/lf-bst-howley"]="bst-howley"
namemap["./bin/lb-bst2"]="bst-bronson"
namemap["./bin/lb-ht"]="ht-lazy"
namemap["./bin/lb-ht_tbb"]="ht-tbb"
namemap["./bin/lb-ht_copy"]="ht-copy"
namemap["./bin/lb-ht_copy_gl"]="ht-copy-gl"
namemap["./bin/lb-ht_gl"]="ht-lazy-gl"
namemap["./bin/lb-ht_java"]="ht-lea"
namemap["./bin/lb-ll"]="ll-lazy"
namemap["./bin/lb-ll_copy"]="ll-copy"
namemap["./bin/lb-ll_gl"]="ll-lazy-gl"
namemap["./bin/lb-sl_herlihy"]="sl-herlihy"
namemap["./bin/lb-sl_herlihy_gl"]="sl-herlihy-gl"
namemap["./bin/lf-ht"]="ht-harris"
namemap["./bin/lf-ht_rcu"]="ht-rcu"
namemap["./bin/lf-ll_harris"]="ll-harris"
namemap["./bin/lf-ll_harris_opt"]="ll-harris-opt"
namemap["./bin/lf-ll_michael"]="ll-michael"
namemap["./bin/lf-sl"]="sl-fraser"

