declare -A namemap
namemap["./bin/lf-bst"]="bst-ellen"
namemap["./bin/lb-bst-drachsler"]="bst-drachsler"
namemap["./bin/lf-bst-aravind"]="bst-natarajan"
namemap["./bin/lf-bst-howley"]="bst-howley"
namemap["./bin/lb-bst2"]="bst-bronson"
namemap["./bin/lb-bst_tk"]="bst-tk"
namemap["./bin/sq-bst_external"]="bst-seq-ext"
namemap["./bin/sq-bst_internal"]="bst-seq-int"
namemap["./bin/lb-ht_lazy"]="ht-lazy"
namemap["./bin/lb-ht_lazy_gl"]="ht-lazy"
namemap["./bin/lb-ht_coupling"]="ht-coupling"
namemap["./bin/lb-ht_coupling_gl"]="ht-coupling"
namemap["./bin/lb-ht_pugh"]="ht-pugh"
namemap["./bin/lb-ht_pugh_gl"]="ht-pugh"
namemap["./bin/lb-ht_tbb"]="ht-tbb"
namemap["./bin/lb-ht_copy"]="ht-copy"
namemap["./bin/lb-ht_copy_gl"]="ht-copy"
namemap["./bin/lb-ht_gl"]="ht-lazy-gl"
namemap["./bin/lfhtm"]="lfhtm"
namemap["./bin/hyhtm"]="hyhtm"
namemap["./bin/sq-ht"]="ht-seq"
namemap["./bin/lb-ht_java"]="ht-lea"
namemap["./bin/lb-ll_lazy"]="ll-lazy"
namemap["./bin/lb-ll_coupling"]="ll-coupling"
namemap["./bin/lb-ll_pugh"]="ll-pugh"
namemap["./bin/lb-ll_copy"]="ll-copy"
namemap["./bin/lb-ll_gl"]="ll-lazy-gl"
namemap["./bin/lb-sl_herlihy"]="sl-herlihy"
namemap["./bin/lb-sl_pugh"]="sl-pugh"
namemap["./bin/sq-sl"]="sl-seq"
namemap["./bin/lb-sl_herlihy_gl"]="sl-herlihy-gl"
namemap["./bin/lf-ht"]="ht-harris"
namemap["./bin/sq-ll"]="ll-seq"
namemap["./bin/lf-ht_rcu"]="ht-rcu"
namemap["./bin/lf-ll_harris"]="ll-harris"
namemap["./bin/lf-ll_harris_opt"]="ll-harris-opt"
namemap["./bin/lf-ll_michael"]="ll-michael"
namemap["./bin/lf-sl_fraser"]="sl-lf-fraser"
namemap["./bin/lf-sl_herlihy"]="sl-lf-herlihy"

